@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4">Welcome To Family Call Application DashBoard You Can Manage Every Thing From Here </h1>
    <p></p>
</div>
